extends ../partial_layout.jade

block content
    div.container.center_div#chatPrivatelyPage(ng-controller='chatPrivatelyController')
        div.row
            div.col-md-12.col-lg-12.col-xs-12.well
                ul.list-group
                    li.list-group-item(ng-repeat="message in messages")
                        span.badge {{message.Timestamp|date : 'MM/dd/yyyy HH:mm:ss'}}
                        b {{message.USERNAME||message.USERNAME1}}
                        |  says: {{message.MESSAGE}}

                form#chatForm.form-horizontal(name="chatForm")
                    div.form-group.has-feedback.has-feedback-left
                        div.input-group
                            span.input-group-addon
                                i.glyphicon.glyphicon-comment
                                input.form-control(name="message" type="text" ng-model="currentMsg")
                    div.form-group.has-feedback.has-feedback-left
                        input.btn.btn-success.btn-block(autocomplete="off" value="Send" type="submit" ng-click="sendMessage()")