header.jumbotron
  div.container
    h1 Oops!...
    p(align='right') ...please try again in a few minutes
  
  div.container
    div.row.center_div
      img.img-responsive(src='/images/under-maintenance.jpg')

block additional_scripts
  script(src='/angular/angular.js')
  script(src='/angular-ui-router/release/angular-ui-router.min.js')
  script(src='/jquery/dist/jquery.min.js')
  script(src='/bootstrap/dist/js/bootstrap.min.js')
              